<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fixer</key>
	<string>fd3fc7aeaa539790eb8f2c81d012e119</string>
	<key>googleTranslate</key>
	<string>AIzaSyAkUo_itw-5-139nczZW3aSAqLiX5q688o</string>
	<key>openWeatherMap</key>
	<string>17fccebcda75a75dc34e07995fc59e3b</string>
</dict>
</plist>
